* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: monospace;
}

h1 {
    text-align: center;
    padding: 0.5em 0;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
}

article {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1em;
    margin: 0.5em 0;
}

img {
    border-radius: 100%;
    width: 10em;
}

img:hover {
    border: 0.1em rgba(0, 0, 0, 0.8) solid;
    transition: 0.1s;
    cursor: pointer;
}



